/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  padding: 0;
  margin: 0;
  background-image: url("/assets/imgs/login-background.png");
  background-color: #292c3a;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
}

header {
  z-index: 9999;
  width: 100%;
  height: 30px;
  -webkit-app-region: drag;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background: transparent;

  #minimize,
  #close {
    color: #E2F7FF;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    padding-right: 10px;
    width: 30px;
    -webkit-app-region: no-drag;

    &:hover {
      background: rgba(255,255,255,0.1);
    }

    &:active {
      background: rgba(255,255,255,0.2);
    }
  }

  #minimize {
    padding-bottom: 6px;
  }
}

.login {
  background: #292F34;
  width: 440px;
  height: 100%;
  position: absolute;
  margin-left: 839px;

  .content {
    margin-left: 59px;
    padding-top: 190px;
    width: 320px;
  }

  .logo {
    background-image: url("/assets/imgs/WhiteLogo.png");
    background-size: contain;
    width: 320px;
    height: 84px;
    margin-bottom: 40px;
  }

  a {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 9px;
    //font-weight: lighter;
  }

  .form-input {
    width: 100%;
    margin-bottom: 20px;

    a {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 3px;
    }

    input {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 40px;
      background-color: #444E56;
      border: none;
      box-shadow: inset 0 0 0 1px #5C6165;
      color: rgba(255, 255, 255, 0.5);
      text-indent: 10px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.2);
      }

      &:focus {
        outline: 1px solid rgba(255, 255, 255, 0.5);
      }
    }

    button {
      width: 100%;
      height: 40px;
      margin: 0;
      padding: 0;
      background-color: #47A2D3;
      border: none;
      box-shadow: inset 0 0 0 1px #81C7FF;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;

      &:hover {
        background-color: #00A6FF;
      }

      &:active {
        background-color: #028CD6;
      }
    }
  }
}

a {
  color: #95A0A9;
  text-decoration: none;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 80%;
  }
}
