@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.logo {
  background-image: url('/assets/imgs/WhiteLogo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 85px;
  margin-bottom: 40px;
}
